body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #331277;
    color: #e91717;
    padding: 10px 20px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
header ul li {
    margin-left: 20px;
}
header ul li a {
    color: #d31c1c;
    text-decoration: none;
}
section {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background: #d00707;
}
.project {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #e20f0f;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #b20ea7;
    color: #e80606;
    margin-top: 20px;
}

button {
    background: #333;
    color: rgb(239, 20, 20);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #187794;
}
