ol{
    display:flex;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
    margin:0; 
    padding:10px;
    background-color: red;
    color:white;
    font-size: large;
    font-weight: bold;
}
.link{
    text-decoration: none;
    color:white;
    padding:4px;
}
.link:hover{

    background-color:white;
    color:red;
    border-radius: 10px;
}
.dropdown {
    position: relative;
}

.dropdown-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #b4476a;
    width: 200px;
    display: block;
    border-radius: 5px;
}
.dropdown-menu li {
    padding: 10px;
}
.dropdown-menu{
    display: none;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
